@import url('https://fonts.googleapis.com/css?family=Pacifico');

body{
    margin: 0;
    padding: 0;
    background: #000;
    background: url(bomber.jpg);
    background-size: cover;
}
body::-webkit-scrollbar {
    width: 0px;
}
a{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 200px;
    height: 60px;
    line-height: 60px;
    color: #fff;
    border-radius: 30px; 
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
    background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
    background-size: 400%;
    z-index: -1;
}
@keyframes animate{
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 400%;
    }
}
a:hover{
    animation: animate 8s linear infinite;
}
a:before{
    content:'';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
    background-size: 400%;
    border-radius: 40px;
    filter: blur(20px);
    opacity: 0;
    transition: 0.5s;
}
a:hover:before{
    filter: blur(20px);
    opacity: 1;
    animation: animate 8s linear infinite;
}

footer{
  top: 95%;
  left: 93.5%;
  position: absolute;
  font-family: 'Pacifico', cursive;
}
