@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

body{
	margin: 0;
	padding: 0;
	font-family: 'Source Sans Pro', sans-serif;
}
body::-webkit-scrollbar {
    width: 0px;
}
nav{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999;
    display: block;
    margin: 0;
    width: 100%;
	height: 48px;
    max-height: 44px;
	background: rgb(0,0,0,0.8);
    font-size: 17px;
}
.menu{
	position: relative;
	margin: 0 auto;
	width: 1000px;
	overflow: hidden;
}
.menu ul{
	width: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
}
.menu ul li{
	list-style: none;
}

.menu ul li,
.menu ul li a{
	color: #fff;
	line-height: 44px;
	text-decoration: none;
}
.menu ul li .fa.fa-apple{
	font-size: 20px;
}

.menu ul li a.menu-item{
	transform: scale(1);
	transition: 0.5s;
	display: block;
}

.menu ul li a.menu-item.hide-item{
	transform: scale(0);
}

.menu ul li:nth-child(2) a.menu-item.hide-item{
	transition-delay: 0.3s;
}
.menu ul li:nth-child(3) a.menu-item.hide-item{
	transition-delay: 0.25s;
}
.menu ul li:nth-child(4) a.menu-item.hide-item{
	transition-delay: 0.2s;
}
.menu ul li:nth-child(5) a.menu-item.hide-item{
	transition-delay: 0.15s;
}
.menu ul li:nth-child(6) a.menu-item.hide-item{
	transition-delay: 0.1s;
}
.menu ul li:nth-child(7) a.menu-item.hide-item{
	transition-delay: 0.05s;
}
.menu ul li:nth-child(8) a.menu-item.hide-item{
	transition-delay: 0s;
}


/* Unhide Anim */


.menu ul li:nth-child(2) a.menu-item{
	transition-delay: 0s;
}
.menu ul li:nth-child(3) a.menu-item{
	transition-delay: 0.05s;
}
.menu ul li:nth-child(4) a.menu-item{
	transition-delay: 0.1s;
}
.menu ul li:nth-child(5) a.menu-item{
	transition-delay: 0.15s;
}
.menu ul li:nth-child(6) a.menu-item{
	transition-delay: 0.2s;
}
.menu ul li:nth-child(7) a.menu-item{
	transition-delay: 0.25s;
}
.menu ul li:nth-child(8) a.menu-item{
	transition-delay: 0.3s;
}

.search-form{
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(0);
	width: 600px;
	height: 44px;
	opacity: 0;
	visibility: hidden;
	transition: 0.5s;
}
.search-form.active{
	opacity: 1;
	visibility: visible;
	transform: translateX(-50%);
	transition-delay: 0.3s;
}
.search-form input{
	width: 100%;
	height: 44px;
	background: transparent;
	color: #fff;
	border: none;
	outline: none;
	font-size: 16px;
	letter-spacing: -.021em;
	white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 17px;
}
.search-form input::placeholder{
	color: #fff;

}
.search-form:before{
	content: '\f002';
	position: absolute;
	top: 12px;
	left: -26px;
	font-size: 18px;
	color: #fff;
	font-family: fontAwesome;
}
.close{
	position: absolute;
	right: 0;
	top: 0;
	height: 44px;
	color: #fff;
	background: #333;
	line-height: 44px;
	font-size: 18px ;
	text-align: right;
	width: 20px;
	cursor: pointer;
	opacity: 0;
	visibility: hidden;
}
.close.active{
	opacity: 1;
	visibility: visible;
}