
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url(snow.jpg);
    background-size: cover;
}
.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    background: rgba(10, 10, 10, 0.8);
    padding: 40px;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.5);
    border-radius: 10px;
}
.box h2{
    color: #fff;
    margin: 0 0 30px;
    padding: 0;
    text-align: center;
}
.box .inputBox{
    position: relative;
}
.box .inputBox input{
    color: #fff;
    width: 100%;
    padding: 10x 0;
    font-size: 16px;
    letter-spacing: 1px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #ededed;
    outline: none;
    background: transparent;
}
.box .inputBox label{
    color: #fff;
    padding: 10x 0;
    font-size: 16px;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    transition: .5s;
}
.box .inputBox input:focus ~ label,
.box .inputBox input:valid ~ label{
    top: -18px;
    left: 0;
    color: #03a9f4;
    font-size: 12px;
}
.box input[type="submit"]{
    border: none;
    background: #03a9f4;
    color: #fff;
    outline: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}
